@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>If something is wrong with our Privacy Policy, we suggest to call him:</p>

<img src="https://www.rollingstone.com/wp-content/uploads/2018/06/rs-16977-rectangle.jpg?w=624" alt="Saul" width="500" height="333">
