html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-table {
    width: 70%;
    border: 3px solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: khaki;

}

.my-table-row-headings {
    font-size: 18px;
    color: black;
}

.my-table-row {
    border: 1px solid;

}

.my-table-column {
    border: 1px solid;
    font-weight: bold;

}

.my-content-limit {
    max-width:150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-post-limit {
    max-width: 300px;
    overflow-y: auto;
    white-space: initial;
    word-wrap: break-word;
}

.update-form{
    display: none;
}