html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://i.ytimg.com/vi/EHYaou42MDw/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-table {
    width: 100%;
    height: 300px;
    border: hidden;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

}

.my-table-row-headings {
    font-size: 16px;
    color: white;
    text-align: center;
}

.my-table-row {
    border: 1px solid;
    color: white;
    text-align: center;
}

.my-table-column {
    font-weight: bold;
    color: white;
    background-color: black;
}

.my-content-limit {
    max-width:150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-post-limit {
    max-width: 300px;
    overflow-y: auto;
    white-space: initial;
    word-wrap: break-word;
}

.update-form{
    display: none;
}

.display-4{
    font-family: Coolvetica;
    font-size: 100px;
    color: yellow;
    -webkit-text-stroke: 2px black;
    margin-bottom: 100px;
    margin-top: 50px;
}

.text-center {
    color: white;
    font-size: 30px;
}

.navbar-brand {
    font-family: Coolvetica;
    color: white;
}